
body {
    color: blue;
    border: none;
    margin: 0;
    padding: 0;
}
header, nav, footer, article, section { display: block; }
header {
    width:100%;
    position:fixed;
    top:0px;
    z-index: 1000;
    background: black;
}
footer {
    background-color: black;
    width: 100%;
    bottom: 0;
    position: fixed;
}
nav.breadcrumb {}
nav.right_sidebar { float: right; width: 20%; }
footer { clear: both; }
